<div class="page-footer-footer page-sidebar sidebar sidebar-admin horizontal-bar">
    <div class="page-sidebar-inner">
        <ul class="menu accordion-menu bg-green">
            <li class="droplink">
                <center>
                    <h1>
                        Edição de Agendamento
                    </h1>
                </center>
            </ul>
        </div>
    </div>
<form>
                <div id="main-wrapper" class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="padding_1">
                                        Agendamento
                                    </h2>
                                    <div class="row">
                                      
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="agency">
                                                    Nome do Agendamento
                                                    <span class="requiredInput">
                                                        *
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" ng-model="name" name="NameModel0"
                                                id="NameModel0" required placeholder="Nome">
                                                
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>
                                                       Modelo padrão
                                                    <span class='requiredInput'>
                                                        *
                                                    </span>
                                                </label>
                                                <select class="form-control" ng-model="model_pattern" name="teltype0"
                                                id="teltype0" ng-change="clearPhone(0)" required ng-options="xx.value as xx.name for xx in models">
                                                <option value="">
                                                    Modelo padrão
                                                </option>
                                            </select>
                                            
                                        </div>
                                    </div>

                                        <div class="col-lg-12" ng-repeat="partner in partners" data-part-row="{{partner.count}}"
                                        style="padding-left: 0px;">
                                            
                                           <div class="col-md-2">


                                                <div class="form-group">
                                                    <label>
                                                        Hora inicial
                                                        <span class='requiredInput'>
                                                            *
                                                        </span>
                                                    </label>
                                                    

                                                    <p class="input-group">
                                                      <input sy-timepicker-popup="HH:mm:ss" class="form-control" ng-model="partners[partner.count].hour_start" show-meridian="false" is-open="open_start" />
                                                      <span class="input-group-btn">
                                                          <button class="btn btn-default" ng-click="open($event)">
                                                            <i style="font-size: 13px;"class="glyphicon glyphicon-time"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-2">


                                                <div class="form-group">
                                                    <label>
                                                        Hora Final
                                                        <span class='requiredInput'>
                                                            *
                                                        </span>
                                                    </label>
                                                    

                                                    <p class="input-group">
                                                      <input sy-timepicker-popup="HH:mm:ss" class="form-control" ng-model="partners[partner.count].hour_end" show-meridian="false" is-open="open_end" />
                                                      <span class="input-group-btn">
                                                          <button class="btn btn-default" ng-click="open($event)">
                                                            <i style="font-size: 13px;"class="glyphicon glyphicon-time"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                                    
                                                </div>
                                            </div>

                                            
                                            
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>
                                                        Modelo
                                                        <span class='requiredInput'>
                                                            *
                                                        </span>
                                                    </label>
                                                    <select class="form-control" ng-model="partners[partner.count].model" name="teltype0"
                                                    id="teltype0" ng-change="clearPhone(0)" required ng-options="xx.value as xx.name for xx in models">
                                                    <option value="">
                                                        Modelo
                                                    </option>
                                                </select>
                                                
                                            </div>
                                        </div> 
                                            

                                            <div class="col-md-2" style="margin-top:25px">
                                                <button class="btn btn-primary" title="Remover" type="button" ng-click="removePartners(partner.count)">
                                                    <i class="fa fa-close">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-tef-green-not-bg col-md-12" ng-click="addPartners()">
                                            Adicionar agenda
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!--<button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="">
                                                Cancelar
                                            </button> -->
                                            <a class="btn btn-tef-green-not-bg pull-left m-r-sm ng-binding"
                                            href="#/home">Cancelar</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button  type="submit" class="btn btn-tef-green-not-bg m-r-sm" ng-click="saveEdit()">
                                                Editar
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!--<center><button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="selectInput(modelo)">Cadastrar</button></center> -->
                    </div>
            </form>