<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" href="http://sscol.jebal.comuv.com/css/font.css">-->
</head>
<body>
<center><a href="#"><img src="logo.jpg" alt="" /></a></div></center>
    <div class="ribbon"></div>
  <div class="login">
  <h1>Faça seu Login</h1>
  
  <form action="login">
    <div class="input">
      <div class="blockinput">
        <i class="icon-envelope-alt"></i><input type="mail" placeholder="Login">
      </div>
      <div class="blockinput">
        <i class="icon-unlock"></i><input type="password" placeholder="Senha">
      </div>
    </div>
    <button>Login</button>
  </form>
  </div>
    
  </div>
  <br><br>
</body>
</html>