<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


<script src="../../vendor/angular.js"></script>
<script src="../../vendor/angular-resource.js"></script>
<script src="../../vendor/angular-ui-router.js"></script>
<script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/services/lb-services.js"></script>
<script src="../../js/directives/slider.js"></script>


<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='css/app.css' rel='stylesheet' type='text/css'>
<style type="text/css"> 
      #footer {
       
      }
      .dfframe {position: absolute; width: 99%; height: 98%;}
    </style>

   
   <title>Slides</title>
</head>
<body ng-controller="SliderController">
   <slider images="images"/>
</body>
</html>