<head>
	<link href='../../css/style.css' rel='stylesheet' type='text/css'>
</head>
<div class="page-footer-footer page-sidebar sidebar sidebar-admin horizontal-bar">
    <div class="page-sidebar-inner">
        <ul class="menu accordion-menu bg-green">
            <li class="droplink">
                <center>
                    <h1>
                        TTTT
                    </h1>
                </center>
            </li>    
        </ul>
    </div>
</div>
<div class="ribbon"></div>
<div class="login">
	<h1>Faça seu Login</h1>

	<form>
		<div class="input">
			<div class="blockinput">
				<i class="icon-envelope-alt"></i><input type="text" ng-model="user.username"placeholder="Login">
			</div>
			<div class="blockinput">
				<i class="icon-unlock"></i><input type="password" ng-model="user.password" placeholder="Senha">
			</div>
		</div>
		<button type="submit" ng-click="logar(user)" >Login</button>
	</form>
</div>

</div>
<br><br>