<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>
            Slide
        </title>
        <link href="../../css/output.css" rel="stylesheet">
        <link href="../../css/custom.css" rel="stylesheet">
    </head>
    
    <body ng-app="app">
        <header>
            <div class="navbar horizontal-bar">
                <div class="navbar-inner container">
                    <div class="logo-box">
                        <a id="hrefDashboard" href="#/dashboard" class="logo-text">
                  <span><img src="/view/slide/files/transire.png" alt=""></span>
                </a>
                    </div>
                </div>
            </div>
            <div class="page-footer-footer page-sidebar sidebar sidebar-admin horizontal-bar">
                <div class="page-sidebar-inner">
                    <ul class="menu accordion-menu bg-green">
                        <li class="droplink">
                            <center>
                                <h1>
                                    Cadastro
                                </h1>
                            </center>
                    </ul>
                </div>
            </div>
            <form ng-controller="ModelSliderController">
                <div id="main-wrapper" class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="padding_1">
                                        Files
                                    </h2>
                                    <div class="row">
                                      <form name="formComp" id="formComp" novalidate ng-submit="save(formComp)" >
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="agency">
                                                    Nome do modelo
                                                    <span class="requiredInput">
                                                        *
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" ng-model="form.name" name="NameModel0"
                                                id="NameModel0" required placeholder="Modelo">
                                                <div ng-show="formComp.$submitted || formComp.NameModel0.$touched" class="help-block text-danger">
                                                    <span ng-show="formComp.NameModel0.$error.required">
                                                        ERRO
                                                    </span>
                                                    <span ng-show="formComp.NameModel0.$error.pattern">
                                                        ERRO 2
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" ng-repeat="partner in partners" data-part-row="{{partner.count}}"
                                        style="padding-left: 0px;">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>
                                                        Tipo
                                                        <span class='requiredInput'>
                                                            *
                                                        </span>
                                                    </label>
                                                    <select class="form-control" ng-model="partners[partner.count].type" name="teltype0"
                                                    id="teltype0" ng-change="clearPhone(0)" required ng-options="xx.value as xx.name for xx in telTypes">
                                                        <option value="">
                                                            Tipo
                                                        </option>
                                                    </select>
                                                    <div ng-show="formComp.$submitted || formComp.teltype0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.teltype0.$error.required">
                                                            VALIDACAO
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="partners[partner.count].type == 2" class="col-md-4">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        URL
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="partners[partner.count].url"
                                                    name="EndModel0" id="EndModel0" required placeholder="URL">
                                                    <div ng-show="formComp.$submitted || formComp.EndModel0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.EndModel0.$error.required">
                                                            ERRO
                                                        </span>
                                                        <span ng-show="formComp.EndModel0.$error.pattern">
                                                            ERRO 2
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="partners[partner.count].type == 1" class="col-md-4">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        FILE
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input type="file" class="form-control" ng-model="partners[partner.count].arquivo"
                                                    name="FileModel0" id="FileModel0" required placeholder="FILE">
                                                    <div ng-show="formComp.$submitted || formComp.FileModel0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.FileModel0.$error.required">
                                                            ERRO
                                                        </span>
                                                        <span ng-show="formComp.FileModel0.$error.pattern">
                                                            ERRO 2
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        Tempo
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control phone" required ng-model="partners[partner.count].tempo"
                                                    name="phoneNumber0" id="phoneNumber0" autocomplete="off" placeholder="Tempo">
                                                    <div ng-show="formComp.$submitted || formComp.phoneNumber0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.phoneNumber0.$error.required">
                                                            VALIDACAO
                                                        </span>
                                                        <span ng-show="formComp.phoneNumber0.$error.phonevl && !formComp.phoneNumber0.$error.required">
                                                            ERROR
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-if="partner.count > 0" style="margin-top:25px">
                                                <button class="btn btn-primary" title="Remover" type="button" ng-click="removePartners(partner.count)">
                                                    <i class="fa fa-close">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-tef-green-not-bg col-md-12" ng-click="addPartners()">
                                            Adicionar slide
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="selectInput(modelo)">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="save(formComp)">
                                                Cadastrar
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--<center><button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="selectInput(modelo)">Cadastrar</button></center> -->
                    </div>
            </form>
            <script src="../../vendor/angular.js">
            </script>
            <script src="../../vendor/angular-resource.js">
            </script>
            <script src="../../vendor/angular-ui-router.js">
            </script>
            <script src="../../js/app.js">
            </script>
            <script src="../../js/services/lb-services.js">
            </script>
            <script src="../../js/controllers/modelslider.js">
            </script>
    </body>

</html>