<div class="page-footer-footer page-sidebar sidebar sidebar-admin horizontal-bar">
    <div class="page-sidebar-inner">
        <ul class="menu accordion-menu bg-green">
            <li class="droplink">
                <center>
                    <h1>
                        Cadastro de Modelo
                    </h1>
                </center>
            </ul>
        </div>
    </div>
<form ng-controller="ModelSliderController as up" name="up.upload_form">
                <div id="main-wrapper" class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1 class="padding_1">
                                        Files
                                    </h1>
                                    <div class="row">
                                      <form name="formComp">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="agency">
                                                    Nome do modelo
                                                    <span class="requiredInput">
                                                        *
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" ng-model="form.name" name="NameModel0"
                                                id="NameModel0" required placeholder="Modelo">
                                                <div ng-show="formComp.$submitted || formComp.NameModel0.$touched" class="help-block text-danger">
                                                    <span ng-show="formComp.NameModel0.$error.required">
                                                        ERRO
                                                    </span>
                                                    <span ng-show="formComp.NameModel0.$error.pattern">
                                                        ERRO 2
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" ng-repeat="partner in partners" data-part-row="{{partner.count}}"
                                        style="padding-left: 0px;">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>
                                                        Tipo
                                                        <span class='requiredInput'>
                                                            *
                                                        </span>
                                                    </label>
                                                    <select class="form-control" ng-model="up.partners[partner.count].type" name="teltype0"
                                                    id="teltype0" ng-change="clearPhone(0)" required ng-options="xx.value as xx.name for xx in filesTypes">
                                                        <option value="">
                                                            Tipo
                                                        </option>
                                                    </select>
                                                    <div ng-show="formComp.$submitted || formComp.teltype0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.teltype0.$error.required">
                                                            VALIDACAO
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="up.partners[partner.count].type == 2" class="col-md-4">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        URL
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="up.partners[partner.count].url"
                                                    name="EndModel0" id="EndModel0" required placeholder="URL">
                                                    <div ng-show="formComp.$submitted || formComp.EndModel0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.EndModel0.$error.required">
                                                            ERRO
                                                        </span>
                                                        <span ng-show="formComp.EndModel0.$error.pattern">
                                                            ERRO 2
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="up.partners[partner.count].type == 1" class="col-md-4">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        FILE
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input 
                                                    type="file" 
                                                    ngf-select 
                                                    ng-model="up.partners[partner.count].arquivo" 
                                                    name="file" 
                                                    ngf-pattern="'image/*'"
                                                    accept="image/*" 
                                                    ngf-max-size="20MB" 
                                                    />
                                                    
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="agency">
                                                        Tempo
                                                        <span class="requiredInput">
                                                            *
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control phone" required ng-model="up.partners[partner.count].tempo"
                                                    name="phoneNumber0" id="phoneNumber0" autocomplete="off" placeholder="Tempo">
                                                    <div ng-show="formComp.$submitted || formComp.phoneNumber0.$touched" class="help-block text-danger">
                                                        <span ng-show="formComp.phoneNumber0.$error.required">
                                                            VALIDACAO
                                                        </span>
                                                        <span ng-show="formComp.phoneNumber0.$error.phonevl && !formComp.phoneNumber0.$error.required">
                                                            ERROR
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-if="partner.count > 0" style="margin-top:25px">
                                                <button class="btn btn-primary" title="Remover" type="button" ng-click="removePartners(partner.count)">
                                                    <i class="fa fa-close">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-tef-green-not-bg col-md-12" ng-click="addPartners()">
                                            Adicionar slide
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <!--<button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="">
                                                Cancelar
                                            </button> -->
                                            <a class="btn btn-tef-green-not-bg pull-left m-r-sm ng-binding"
                                            href="/">Cancelar</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button  type="submit" class="btn btn-tef-green-not-bg m-r-sm" ng-click="save()">
                                                Cadastrar
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!--<center><button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="selectInput(modelo)">Cadastrar</button></center> -->
                    </div>
            </form>