<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slide</title>
   
    
    <link href="../../css/output.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    
    
   
  </head>
  <body ng-app="app">
    <header>
      
      <div class="navbar horizontal-bar">
        <div class="navbar-inner container">
              <div class="logo-box">
                <a id="hrefDashboard" href="#/dashboard" class="logo-text">
                  <span><img src="/view/slide/files/transire.png" alt=""></span>
                </a>
              </div>      
        </div>
      </div>
                     

<div class="page-footer-footer page-sidebar sidebar sidebar-admin horizontal-bar">
  <div class="page-sidebar-inner">
      <ul class="menu accordion-menu bg-green">

         <li class="droplink">
            <center><h1>Cadastro</h1></center>
         
      </ul>
  </div>
</div>


    <form ng-controller="ModelSliderController">
    	<div id="main-wrapper" class="container">
    		<div class="panel panel-default">
    			<div class="panel-body">
    				<div class="row">
    					<div class="col-xs-12">
    						<h2 class="padding_1">Files</h2>
    						<div class="row">
    							<div class="col-md-2">
    								<!-- Tipo de Telefone-->
    								<div class="form-group">
    									<label>Nome do modelo<span class='requiredInput'> *</span></label>
    									<select class="form-control"
    									ng-model="form.phone[0].type"
    									name="teltype0"
    									id="teltype0"
    									ng-change="clearPhone(0)"
    									required
    									ng-options="xx.value as xx.name for xx in telTypes">
    									<option value="">{{'form.input.options'| translate}}</option>
    								</select>
    								<div ng-show="formComp.$submitted || formComp.teltype0.$touched"
    								class="help-block text-danger">
    								<span ng-show="formComp.teltype0.$error.required">{{'form.validationMessage.required'| translate}}</span>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-2">
    						<!-- DDD-->
    						<div class="form-group">
    							<label for="agency">{{'pre-reg-company.panel.form.phones.labelDDD' | translate}}<span class="requiredInput">*</span> </label>
    							<input type="text"
    							class="form-control"
    							ng-model="form.phone[0].areaCode"
    							maxlength="2"
    							name="phoneAreaCode0"
    							id="phoneAreaCode0"
    							area-code
    							required
    							autocomplete="off"
    							placeholder="{{'pre-reg-company.panel.form.labelCodePlaceHolder'| translate}}"
    							ng-pattern="/^[0-9]{2}$/"
    							>
    							<div ng-show="formComp.$submitted || formComp.phoneAreaCode0.$touched"
    							class="help-block text-danger">
    							<span ng-show="formComp.phoneAreaCode0.$error.required">{{'form.validationMessage.required'| translate}}</span>
    							<span ng-show="formComp.phoneAreaCode0.$error.pattern">{{'form.validationMessage.number' | translate}}</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4">
    					<div class="form-group">
    						<!-- Telefone 01-->
    						<label for="agency">{{'pre-reg-company.panel.form.phones.labelPhoneOne' | translate}} <span class="requiredInput">*</span> </label>
    						<input type="text"
    						class="form-control phone"
    						required
    						ng-model="form.phone[0].number"
    						name="phoneNumber0"
    						id="phoneNumber0"
    						autocomplete="off"
    						placeholder="{{'pre-reg-company.panel.form.labelPhonePlaceHolder'| translate}}"
    						phone="{{form.phone[0].type}}"
    						>
    						<div ng-show="formComp.$submitted || formComp.phoneNumber0.$touched"
    						class="help-block text-danger">
    						<span ng-show="formComp.phoneNumber0.$error.required">{{'form.validationMessage.required'| translate}}</span>
    						<span ng-show="formComp.phoneNumber0.$error.phonevl && !formComp.phoneNumber0.$error.required">{{'form.validationMessage.phone'| translate}}</span>
    					</div>
    				</div>
    			</div>
    			<div ng-show="form.phone[0].type == 2" class="col-md-3">
    				<div class="form-group">
    					<!-- Operadora -->
    					<label for="agency">{{'pre-reg-company.panel.form.phones.companyNameQuestion' | translate}} <span class="requiredInput">*</span> </label>
    					<select class="form-control"
    					name="telephoneOperatorId0"
    					ng-model="form.phone[0].telephoneOperatorId"
    					required ng-options="ct.telephoneOperatorId as ct.name for ct in listTelephoneOperator">
    					<option style="display: none" value="">{{'form.input.options'| translate}}
    					</option>
    				</select>
    				<div ng-show="formComp.$submitted || formComp.telephoneOperatorId0.$touched"
    				class="help-block text-danger">
    				<span ng-show="formComp.telephoneOperatorId0.$error.required">{{'form.validationMessage.required'| translate}}</span>
    			</div>
    		</div>
    	</div>

    					</div>
    				</div>
    			</div>
    		</div>
    		<center><button class="btn btn-tef-green-not-bg m-r-sm ng-binding" ng-click="selectInput(modelo)">Cadastrar</button></center>
    	</div> 
    </form>

    <script src="../../vendor/angular.js"></script>
    <script src="../../vendor/angular-resource.js"></script>
    <script src="../../vendor/angular-ui-router.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/services/lb-services.js"></script>
    <script src="../../js/controllers/modelslider.js"></script>
  </body>
</html>